<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber TestNG Parallel Suite" verbose="2" parallel="classes" thread-count="5">
    <test name="Cucumber TestNG Parallel Test">
        <classes>
            <class name="test_runners.LoginTest"/>
        </classes>
    </test>
</suite>